@import "tailwindcss";

:root {
    --font-league-spartan: "League Spartan", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-ibm-plex-mono: "IBM Plex Mono", monospace;
    --font-urbanist: "Urbanist", sans-serif;
}

:root[data-theme="light"] {
    --color-1: #f3fcf9;
    --color-2: #000;
    --color-3: #e3eeec;
    --color-4: #3c3c3c;
    --color-5: #71efd8;
    --color-6: rgb(138, 169, 190);
    --hero-bg: url("../assets/images/backgroup/bg-2.png") center center
        no-repeat;
}

:root[data-theme="dark"] {
    --color-1: #0c1226;
    --color-2: #fff;
    --color-3: #121d3e;
    --color-4: #efefff;
    --color-5: #14c2a3;
    --color-6: #0e2230;
    --hero-bg: url("../assets/images/backgroup/bg-1.jpg") center center
        no-repeat;
}

@theme inline {
    --color-background-color: var(--background-color);
    --color-color-1: var(--color-1);
    --color-color-2: var(--color-2);
}
