@import "tailwindcss";

:root {
    --font-league-spartan: "League Spartan", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-ibm-plex-mono: "IBM Plex Mono", monospace;
    --font-urbanist: "Urbanist", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}
